<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/styles/nav.css">
    <link rel="stylesheet" type="text/css" href="/styles/theme.css">
    <link rel="stylesheet" type="text/css" href="/styles/order.css">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <header>
      <%-
       include('./partials/nav.ejs') %>
    </header>
    <main id="main-container">
      <div id="left-column">
        <h4>Categories</h4>
        <div id="categories">
          <a href="" style="margin-top: 5px;">Patties</button>
          <a href="" style="margin-top: 5px;">Meals</button>
          <a href="" style="margin-top: 5px;">Snacks</button>
          <a href="" style="margin-top: 5px;">Other</button>
          <a href="" style="margin-top: 5px;">Drinks</button></a>
        </div>
      </div>
      <div id="menu-items">
        <h4>Menu</h4>
      </div>
      <div id="cart-container">
        <h4>Cart</h4>
      </div>
    </main>

  </body>
</html>
