#cart-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(26, 73, 204);
  padding: 2%;
}

#item-container a {
  height: 20%;
}

#item-container input {
  border: none;
  background: none;
  text-align: center;
}

#item-container .item-value {
  width: 10%;
}

#item-container .item-name {
  width: 100%;  
}

#item-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 5%;
}

#price-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 2%;
}

.quantity-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 5%;
}

.item-subtract, .item-add {
  color: white;
  width: 30px;
  height: 30px;
  font: 30px/1 Arial,sans-serif;
  text-align: center;
  border-radius: 50%;
  background-color: black;
}

.cart-submit {
  display: flex;
  justify-content: center;
}
