
$nav-bar-bg-color: rgb(16,16,16);
$panel-color: whitesmoke;
$main-font-family: Oswald, sans-serif;

html {
  height: 90%;
}

body {
  background-color: $panel-color;
  // background-color: rgb(3, 72, 182);
  // background-image: url("../images/photo.jpg");
  // background-repeat: no-repeat;
  // background-size: cover;
  height: 90%;
  background-image: url(https://www.transparenttextures.com/patterns/concrete-wall-2.png);

}

.error-message {
  color: red;
  font-weight: bold;
  padding-left: 108px;
  padding-bottom: 18px;
}
.main-body {
  display: flex;
  justify-content: center;
  height: 100%;
  margin-top: 2em;
  padding-top: 13vh;
}

.login-title {
  display: flex;
  justify-content: left;
  font-size: 250%;
  margin-bottom: 4.5vh;
  color: $nav-bar-bg-color;
  font-family: 'Roboto', sans-serif;
}

form {
  display: flex;
  justify-content: left;
  flex-flow: column;
  background-color: transparent;
  width: 64vw;
  align-items: center;
}

form-elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.center-minor-element {
  display: flex;
  justify-content: center;
}

.form-subtitles {
  font-size: 28px;
}


.form-control:focus::placeholder {
  color: transparent;
}

.form-border {
  display: flex;
  justify-content: center;
  background-color: white;
  align-items: center;
  margin-top: 6.2em;
  flex-direction: column;
  opacity: 93%;
  width: 53%;
  padding: 1%;
  border-radius: 22px;
  height: 81%;
  background-image: url(https://www.transparenttextures.com/patterns/dark-wall.png);
}

span {
  padding-left: 7px;
  font-weight: 220;
}

.login-title {
  font-weight: bold;
}

.submit-btn {
  width: 59%;
  font-size: 238%;
  font-weight: 800;
  font-family: $main-font-family;
  border-radius: 8px;
  border-width: 0px;
  color: whitesmoke;
  background-color: #161616;
}

.submit-btn:focus {
  outline: none;
}

#plankton-image-div {
  display: flex;
  justify-content: right;
  margin-left: 71vw;
  margin-top: -33vw;
}

#sad-plankton {
  width: 24vw;
}

#happy-spongebob {
  margin-left: -18%;
  position: absolute;
  z-index: -1;
  bottom: 0;
  width: 64%;
}

img#mr-krabs {
  z-index: -1;
  width: 25%;
  position: absolute;
  right: 0px;
  bottom: 0px;
}
