
html {
  height: 100%;
}

body {
  background-color: whitesmoke;
  // background-color: rgb(3, 72, 182);
  // background-image: url("../images/photo.jpg");
  // background-repeat: no-repeat;
  // background-size: cover;
}

.error-message {
  color: red;
  font-weight: bold;
}
.main-body {
  display: flex;
  justify-content: center;
  height: 100%;
  margin-top: 2em;
  padding-top: 13vh;
}

.login-title {
  display: flex;
  justify-content: left;
  font-size: 3vw;
  margin-bottom: 4.5vh;
  color: black;
}

form {
  display: flex;
  justify-content: left;
  flex-flow: column;
  background-color: transparent;
  width: 64vw;
  align-items: center;
}

form-elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.center-minor-element {
  display: flex;
  justify-content: center;
}

.form-subtitles {
  font-size: 28px;
}


.form-control:focus::placeholder {
  color: transparent;
}

.form-border {
  display: flex;
  border: 3px solid black;
  padding-top: 4em;
  padding-bottom: 2em;
  width: 75%;
  justify-content: left;
  background: lightgrey;
  align-items: center;
  margin-top: 2.2em;
  flex-direction: column;
  align-content: center;
  background-color: rgb(245, 243, 243);
  opacity: 97%;
}

span {
  padding-left: 7px;
  font-weight: 220;
}

#plankton-image-div {
  display: flex;
  justify-content: right;
  margin-left: 71vw;
  margin-top: -33vw;
}

#sad-plankton {
  width: 24vw;
}
