
$nav-bar-bg-color: rgb(16,16,16);
$panel-color: whitesmoke;
$main-font-family: Oswald, sans-serif;

html {
  height: 90%;
}

body {
  background-color: $panel-color;
  // background-color: rgb(3, 72, 182);
  // background-image: url("../images/photo.jpg");
  // background-repeat: no-repeat;
  // background-size: cover;
  height: 90%;
}

.error-message {
  color: red;
  font-weight: bold;
  padding-left: 10px;
}
.main-body {
  display: flex;
  justify-content: center;
  height: 100%;
  margin-top: 2em;
  padding-top: 13vh;
}

.login-title {
  display: flex;
  justify-content: left;
  font-size: 250%;
  margin-bottom: 4.5vh;
  color: $nav-bar-bg-color;
  font-family: 'Roboto', sans-serif;
}

form {
  display: flex;
  justify-content: left;
  flex-flow: column;
  background-color: transparent;
  width: 64vw;
  align-items: center;
}

form-elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.center-minor-element {
  display: flex;
  justify-content: center;
}

.form-subtitles {
  font-size: 28px;
}


.form-control:focus::placeholder {
  color: transparent;
}

.form-border {
  display: flex;
  justify-content: center;
  background: $panel-color;
  align-items: center;
  margin-top: 2.2em;
  flex-direction: column;
  background-color:$panel-color;
  opacity: 97%;
  height: 100%
}

span {
  padding-left: 7px;
  font-weight: 220;
}

.login-title {
  font-weight: bold;
}

.submit-btn {
  width: 100%;
  font-size: 238%;
  font-weight: 800;
  font-family: $main-font-family;
  border-radius: 8px;
  margin-bottom: 1em;
  border-width: 0px;
  color: whitesmoke;
  background-color: #161616;
}

.submit-btn:focus {
  outline: none;
}

#plankton-image-div {
  display: flex;
  justify-content: right;
  margin-left: 71vw;
  margin-top: -33vw;
}

#sad-plankton {
  width: 24vw;
}
