nav {
  background-color: #f3f0f0;
  background-repeat: no-repeat;
  color: rgb(3, 72, 182);
  height: 120px;
}

strong {
  color: black;
  font-size: 109%;
}

.navbar-collapse {
  align-items: left;
}
