nav {
  background-image: url("../images/nav-bar.png");
  background-height: 100%;
  background-repeat: no-repeat;
  color: black;
  border-bottom: 2px solid rgb(135,50,20);
}

strong {
  color: rgb(135,50,20);
  text-shadow: 0.5px 0.5px #000;
  font-size: 1.55em;
}

.navbar-collapse {
  align-items: left;
}
