h4 {
  left: 6vw;
  height: 4vh;
  position: relative;
  padding-left: -8vh;
}

#main-container {
  display: flex;
  flex-direction: row;
  padding-top: 6vw;

}

#left-column {
  display: flex;
  justify-content: left;
  flex-direction: column;
  border-right: 1px solid black;
  height: 100vh;
  width: 20%;
  position: fixed;
  top: 8vh;
}

#categories {
  display: flex;
  flex-direction: column;
  justify-content: left;
  flex-direction: column;
}

#menu-items {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

#cart-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-left: 1px solid black;
  height: 100vh;
  width: 25vw;
  position: fixed;
  right: 0;
  top: 8vh;
}

#all-items {
  display: flex;
  width: 53vw;
}

.food-image {
  width: 9vw;
}

#table-items {
  margin-top: 6vh;
}
