h4 {
  font-weight: 400;
  font-size: 1.8%;
  margin-bottom: 2%;
}

#menu-name {
  margin-left: 3%;
}

#main-container {
    padding-top: 5em;
    background-color: black;

    // background-image: url("../images/photo.jpg");
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center;
    // position: fixed;
}

#left-column {
  display: flex;
  flex-direction: column;
  width: 19%;
  position: fixed;
  left: 0;
  padding-top: 7em;
  padding-left: 3%;
  background-color: #3f3f3f;
  background-image: url("../images/spongebob-patty.jpg");
  background-repeat: no-repeat;
  background-position-x: -650px;
  background-size: cover;
  opacity: 30%;
  height: 100%;
}

#categories {
  display: flex;
  flex-direction: column;
  justify-content: left;
  flex-direction: column;
}

#menu-items {
  height: 100%;
  width: 95%;
  display: flex;
  justify-content: center;
}

#cart-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-left: 1px solid black;
  height: 100%;
  width: 20%;
  position: fixed;
  right: 0;
  top: 12%;
  padding-top: 4%;
}

#all-items {
  display: flex;
  width: 60%;
    background-color: whitesmoke;
  opacity: 93%;
}

.food-image {
  width: 19%;
}

#table-items {
  margin-top: 6%;
  padding-left: 1.7%;
  padding-right: 1.7%;
}

#scroll-link {
  margin-bottom: 14%;
  color: #8d8d8d;
  font-weight: 600;
  font-size: 111.5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#scroll-link:hover {
    text-decoration: none;
    font-weight: 700;
    color: rgb(3, 72, 182);
}

#bar {
  margin-right: 1%;
}

#bar:hover {
  color: rgb(3, 72, 182);
}

div#menu-title {
  font-size: 240%;
  font-weight: 700;
  padding-left: 4.1em;
  margin-bottom: 0.5em;
}

.subtitles {
  font-size: 170%;
  margin-bottom: 0.7%;
  font-weight: 700;
}

.single-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 3.3%;
}

.important-details {
  display: flex;
  justify-content: space-between;
  padding-left: 1%;
}


.price-add {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 128%;
  justify-content: right;
  width: 13%;
}

.extra-details {
  display: flex;
  align-items: center;
  padding-left: 1.2%;
}

.food-name {
  font-size: 150%;
  font-weight: 300;
}

.description {
  width: 66%;
  margin-left: 2%;
  font-weight: 250;
  font-size: 119%;
}

.price {
  padding-right: 21%;
}
