h4 {
  font-weight: 400;
  font-size: 1.8vw;
  margin-bottom: 2vh;
}

#menu-name {
  margin-left: 3vh;
}

#main-container {
    padding-top: 6vw;
    background-color: black;

    // background-image: url("../images/photo.jpg");
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center;
    // position: fixed;
}

#left-column {
  display: flex;
  align-items: left;
  flex-direction: column;
  height: 100vh;
  width: 17vw;
  position: fixed;
  left: 0;
  padding-top: 11vh;
  padding-left: 3vw;
  background-color: rgb(63, 63, 63);
  opacity: 98%;
}

#categories {
  display: flex;
  flex-direction: column;
  justify-content: left;
  flex-direction: column;
}

#menu-items {
  height: 100vh;
  width: 95vw;
  display: flex;
  justify-content: center;
}

#cart-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-left: 1px solid black;
  height: 100vh;
  width: 20vw;
  position: fixed;
  right: 0;
  top: 12vh;
  padding-top: 4vh;
}

#all-items {
  display: flex;
  width: 60vw;
    background-color: whitesmoke;
  opacity: 93%;
  //overflow: scroll;
}

.food-image {
  width: 9vw;
}

#table-items {
  margin-top: 6vh;
  padding-left: 1.7vw;
  padding-right: 1.7vw;
}

#scroll-link {
  font-weight: 500;
  margin-bottom: 3vh;
  color: #8d8d8d;
  font-weight: 600;
  font-size: 2vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#scroll-link:hover {
    text-decoration: none;
    font-weight: 700;
    color: rgb(3, 72, 182);
}

#bar {
  margin-right: 1vw;
}

#bar:hover {
  color: rgb(3, 72, 182);
}

div#menu-title {
  font-size: 4vh;
  font-weight: 700;
}

.subtitles {
  font-size: 1.8vw;
}

.single-item {
  display: flex;
  flex-direction: column;
}
